<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="A collection of programming protips" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>{{ title }}</title>
  </head>
  <body>
    <!-- <div class="sticky z-50 top-2 left-2 max-w-xs text-gray-900 bg-gray-50">
      <p class="p-2 text-xs">
        Breakpoint:
        <span class="sm:hidden">mobile</span>
        <span class="hidden sm:inline md:hidden">sm</span>
        <span class="hidden md:inline lg:hidden">md</span>
        <span class="hidden lg:inline xl:hidden">lg</span>
        <span class="hidden xl:inline 2xl:hidden">xl</span>
        <span class="hidden 2xl:inline 3xl:hidden">2xl</span>
        <span class="hidden 3xl:inline 4xl:hidden">3xl</span>
        <span class="hidden 4xl:inline">4xl+</span>
      <p>
    </div> -->

    <header class="text-gray-600 body-font border-b-2">
      <div class="max-w-[90rem] mx-auto flex justify-between p-6 flex-col md:flex-row">
        <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0" href="/">
          <svg
            class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4"
            ></path>
          </svg>
          <span class="ml-3 text-xl"> programming.protips.wiki </span>
        </a>

        <div class="flex space-x-2 items-end">
          <a href="https://github.com/magicmark/programming-protips-wiki" target="_blank"
            ><img
              src="https://img.shields.io/github/stars/magicmark/programming-protips-wiki.svg?style=social&label=Star"
              alt="github" /></a
          ><a
            href="https://twitter.com/intent/tweet?text=https%3A%2F%2Fprogramming.protips.wiki+-+A+collection+of+programming+protips%21"
            target="_blank"
            ><img src="https://img.shields.io/badge/Tweet--lightgrey?logo=twitter&style=social" alt="twitter"
          /></a>
        </div>
      </div>
    </header>
    <div class="max-w-[90rem] mx-auto p-6">
      <main>{{ content }}</main>
    </div>

    <script
      data-goatcounter="https://programming-protips.goatcounter.com/count"
      async
      src="//gc.zgo.at/count.js"
    ></script>
  </body>
</html>
