---
layout: base.html
---

<div
  class=" shadow mb-8 w-full bg-sky-100 font-mono bg-opacity-50 rounded text-sm outline-none text-gray-600 p-3 flex items-center justify-between">
  <div>
    <span>https://programming.protips.wiki</span><span class="text-gray-700 font-bold">/{{ page.fileSlug }}</span>
  </div>
  <button id="copy-link" class="text-indigo-400 font-sans ">Copy link to this page</button>
</div>

<div class="text-gray-600 flex space-x-2 font-light mb-2">
  {%- for tag in tags %}
  <span class="text-base">#{{ tag }}</span>
  {%- endfor %}
</div>

<article class="prose max-w-none break-words">
  <h1 class="text-xl">{{title}}</h1>
  {{ content }}
</article>

<style type="text/css">
  code {
    overflow-wrap: initial;
    overflow-x: scroll;
  }

</style>

<div class="border-t mt-8 pt-4">
  <a class="text-purple-400 hover:underline"
    href="https://github.com/magicmark/programming-protips-wiki/edit/master/src/protips/{{ page.fileSlug }}.md">Edit <span class="font-mono">{{page.fileSlug}}.md</span> on GitHub.</a>
</div>

<script>
  document.querySelector('#copy-link').addEventListener('click', () => {
    navigator.clipboard.writeText('https://programming.protips.wiki/{{ page.fileSlug }}').then(() => {
      document.querySelector('#copy-link').innerText = 'Copied!';
    });
  });
</script>

<link rel="stylesheet" href="/css/dracula.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>

<script>
  hljs.initHighlightingOnLoad();
</script>
