---
layout: base.html
title: Programming Protips Wiki
---

<div class="break-words">
  <h1 class="font-bold text-2xl md:text-3xl">programming.protips.wiki</h1>
  <p class="mt-2 text-gray-800">A collection of programming protips</p>

  <h2 class="font-semibold text-xl mt-6">How to use this website</h2>
  <p class="mt-1 text-gray-800">
    This website aims to save code reviewers from typing out the same explanations for common issues/patterns.
  </p>
  <p class="mt-1 text-gray-800">
    Instead, you may provide a link to a protip, which contains a <i>"bad"</i> example, a <i>"good"</i> example, and an
    explanation <i>why</i> the pattern is encouraged/discouraged.
  </p>

  <h2 class="font-semibold text-xl mt-6 mb-1">Contributing</h2>
  <p class="mt-1 text-gray-800">
    If you'd like to add or edit protips, please visit our GitHub repo:
    <a
      href="https://github.com/magicmark/programming-protips-wiki"
      target="_blank"
      class="text-indigo-500 hover:underline font-mono"
      >magicmark/programming-protips-wiki</a
    >
  </p>

  <h1 class="font-semibold text-xl mt-6 mb-2">Protips</h1>
  <ul class="space-y-4">
    {%- for protip in collections.protips %}
    <li class="text-lg hover:underline">
      <a href="{{ protip.data.page.url }}" class="text-indigo-500 flex flex-col">
        <span class="mr-1 font-mono text-sm ">/{{ protip.data.page.fileSlug }}/</span>
        <span class="ml-1 font-bold">{{ protip.data.title }}</span>
      </a>
    </li>
    {%- endfor %}
  </ul>
</div>
